@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, custom;
}

@utility loading-xl {
  @apply w-12;
}

@plugin "daisyui/theme" {
  name: "custom";
  default: true;
  prefersdark: true;

  --color-base-100: oklch(98% 0.003 247.858);
  --color-base-200: oklch(96% 0.007 247.896);
  --color-base-300: oklch(92% 0.013 255.508);
  --color-base-content: oklch(20% 0.042 265.755);
  --color-primary: oklch(60% 0.118 184.704);
  --color-primary-content: oklch(98% 0.014 180.72);
  --color-secondary: oklch(58% 0.158 241.966);
  --color-secondary-content: oklch(97% 0.013 236.62);
  --color-accent: oklch(54% 0.245 262.881);
  --color-accent-content: oklch(97% 0.014 254.604);
  --color-neutral: oklch(20% 0.042 265.755);
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: oklch(54% 0.245 262.881);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(64% 0.2 131.684);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(68% 0.162 75.834);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(58% 0.253 17.585);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.21875rem;
  --size-field: 0.3125rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}
